.App {
  text-align: center;
}

.rover-container {
  display: flex;
  justify-content: space-around;
}

ul {
  height: 80vh;
  overflow: scroll;
}

li {
  list-style: none;
  padding: 5px;
}

li:hover {
  font-size: 2rem;
}

